# ====================================================================
# Import local aliases
# ====================================================================
for f in ~/.aliases-*(N); do source "$f"; done